/* ABOUT SECTION */
.about__inner-container {
  /* width: 80%; */
  /* set max-width to 1084px */
  max-width: min(82%, var(--width-lg));
  margin: auto;
  padding: var(--padding-lg) 0;
  margin-bottom: 2rem;
}

.about__flex-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--black-shade2);
  border-radius: 2rem;
  padding: var(--padding) 1rem;
}

.about__description {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.8rem;
  /* font-family: var(--font-mono); */
  /* background-color: var(--gray-shade2); */
  border-radius: 0.5rem;
  padding: 1rem;
}

.about__description p {
  color: var(--gray-shade1);
  font-weight: 400;
  font-size: 1.8rem;
  /* font-family: var(--font-sans); */
}

.about__skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* font-family: var(--font-mono); */
  font-size: 1.5rem;
}

.about__skills-grid p {
  font-family: var(--font-mono2);
  font-size: 1.4rem;
  font-weight: 500;
}

.about__skills-grid i {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.about__image-container {
  display: flex;
  justify-content: space-between;
  /* width: 45%; */
}

.about__image {
  width: 30rem;
  margin: auto;
}

.about__image img {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow1);
}

/* media query */
@media only screen and (max-width: 1047px) {
}

@media only screen and (max-width: 768px) {
  .about__flex-container {
    flex-direction: column;
  }

  .about__description {
    width: 100%;
    font-size: 1.7rem;
  }

  .about__image-container {
    width: 100%;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --padding-lg: 3.5rem;
  }

  .about__description {
    font-size: 1.6rem;
  }
}
