/* || GITHUB STATS */
#github {
  max-width: min(82%, var(--width-lg));
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 3rem;
  /* align-items: center; */
  justify-content: center;
  color: var(--fc-blue-shade1);
  padding: var(--padding-lg) 0;
  margin-bottom: 2rem;
}

#github > h1 {
  text-align: center;
  /* font-family: var(--font-sans-hero-section); */
  color: var(--fc-blue-shade1);
  font-size: 3rem;
}

.github__container {
  background-color: var(--black-shade2);
  border-radius: 2rem;
  padding: var(--padding);
}

#github-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.react-activity-calendar .calendar {
  /* font-family: var(--font-sans); */
  border: none;
  /* box-shadow: var(--fc-light-blue) 0px 0px 0px 1px; */
  border-radius: 1rem;
}

/* .calendar rect {
  border-radius: 1rem;
} */

.stats-card {
  box-shadow: var(--fc-blue-shade2) 0px 0px 0px 1px;
  border-radius: 1rem;
  width: 30%;
}

.stats-card img {
  border-radius: 1rem;
  width: 100%;
}


#github-stats{

  animation: slide 2s ease-in-out;

}

@keyframes slide{
  0%{
    transform: translateY(-100px);

  }
  100%{
transform: translateY(0px);
  }

}

/* media query */
@media only screen and (max-width: 1047px) {
  #github-stats {
    flex-direction: column;
    gap: 3rem;
  }

  #github-stats div {
    width: max(300px, 40%);
  }
}
