/* || HOME SECTION */

.home__inner-container {
  /* max-width: 80%; */
  /* set max-width to 1084px */
  max-width: min(82%, var(--width-lg));
  margin: auto;
  padding: var(--padding-lg) 0;
  display: flex;
  justify-content: center;
  background-color: var(--black-shade2);
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.home__left-container {
  width: 90%;
}

.home__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.home__intro h1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  color: var(--gray-shade1);
  /* font-family: var(--font-mono); */
  margin-left: 1rem;
}

.home__intro h2 {
  /* font-family: var(--font-mono); */
  font-size: var(--fs-main-heading);
  color: var(--white-shade2);
  line-height: 0.8;
}

.home__intro h3 {
  /* font-family: var(--font-mono); */
  font-size: var(--fs-main-heading);
  color: var(--gray-shade2);
  line-height: 1;
}

.home__intro p {
  font-size: 1.7rem;
  color: var(--gray-shade1);
  /* width: 60%; */
  max-width: 63rem;
  /* font-family: var(--font-mono); */
  line-height: 1.5;
}

/* media query */
@media only screen and (max-width: 1047px) {
}

@media only screen and (max-width: 480px) {
  :root {
    --padding-lg: 3.5rem;
  }

  .home__intro p {
    font-size: 1.6rem;
  }
}
