/* || NAVBAR */
nav {
  /* font-family: var(--font-mono); */
  position: sticky;
  top: 0;
  z-index: 100;
  font-weight: 600;
  line-height: 1.1;
  font-size: 2rem;
  color: var(--white-shade2);
  padding: 2rem 0;
  background-color: var(--black-shade1);
}

.nav__inner-container {
  display: flex;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 3rem 2rem;
  background-color: var(--black-shade2);
  border-radius: 2rem;
}

.nav__logo {
  display: flex;
  justify-content: space-between;
  font-size: 2.8rem;
  letter-spacing: 0.07rem;
}

.nav__section-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.nav__reference {
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.nav__reference:hover {
  color: var(--gray-shade1);
}

.nav__span {
  color: var(--white-shade2);
  padding-right: 0.5rem;
}

.button {
  border: 0.1rem solid var(--gray-shade3);
  border-radius: 1.2rem;
  padding: 1.1rem 1.6rem;
  background: none;
  font: inherit;
  color: var(--black-shade1);
  background-color: var(--white-shade2);
  cursor: pointer;
  transition: transform 0.15s;
  /* font-family: var(--font-sans); */
  font-weight: normal;
  font-size: 1.8rem;
}

.button:hover {
  color: var(--white-shade2);
  transform: translate3d(0, 0.2rem, 0);
  /* background-color: var(--purple); */
  background-color: var(--black-shade2);
}

/* || MOBILE NAV */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
  z-index: 10;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger__bar1,
.hamburger__bar2,
.hamburger__bar3 {
  background-color: var(--white-shade2);
  width: 3rem;
  height: 0.2rem;
  border-radius: 0.4rem;
}

.animateBar1 {
  animation: flipBar1 0.4s;
  /* this is used to hold the last state */
  /* and not revert back to the original state */
  animation-fill-mode: forwards;
}

.animateBar2 {
  animation: fadeBar2 0.4s;
  animation-fill-mode: forwards;
}

.animateBar3 {
  animation: flipBar3 0.4s;
  animation-fill-mode: forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(0, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(0, -10px);
  }
}

.mobile-nav {
  /* font-family: var(--font-mono); */
  margin-top: 133px;
  width: 50vw;
  background-color: var(--black-shade2);
  border-radius: 2rem;
  color: var(--white-shade2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -50vw;
  transition: transform 0.3s;
  text-align: center;
  font-size: 1.4rem;
}

.openDrawer {
  transform: translateX(-52vw);
}

.mobile-nav__reference {
  margin: 16px 0;
}

.mobile-nav__reference {
  display: flex;
  flex-direction: column;
}

.button a {
  text-decoration: none;
  color: var(--black-shade2);
}

/* media query */
@media only screen and (max-width: 1047px) {
  .nav__section-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
