/* || PROJECT SECTION */
.project__inner-container {
  /* set max-width to 1084px */
  max-width: min(82%, var(--width-lg));
  padding: var(--padding-lg) 0;
  margin: auto;
  margin-bottom: 2rem;
}

.project__card:nth-child(2) {
  margin-top: 5rem;
}

.project__card {
  background-color: var(--black-shade2);
  border-radius: 2rem;
  /* padding: 5rem 4vw; */
  padding: var(--padding);
  margin-top: 10rem;
  display: flex;
  gap: 1.6rem;
}

.project__image-container {
  /* what is happening here????? */
  width: 350rem;
}

.project__image-container img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: var(--box-shadow1);
}

/* for left image cards */
.project__container-1 {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

/* for right image cards */
.project__container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.project__container-1 > p:nth-child(1),
.project__container-2 > p:nth-child(1) {
  /* font-family: var(--font-mono); */
  color: var(--gray-shade1);
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.project__container-1 h3,
.project__container-2 h3 {
  /* font-family: var(--font-sans); */
  /* color: var(--black-shade2); */
  font-size: 2.8rem;
}

.project__description p {
  /* font-family: var(--font-sans); */
  color: var(--gray-shade1);
  font-size: 1.6rem;
  text-align: justify;
}

.project__tech-stack-1 {
  display: flex;
  justify-content: right;
}

.project__tech-stack-2 {
  display: flex;
  justify-content: left;
}

.project__tech-stack-1 p {
  font-family: var(--font-mono2);
  font-weight: 500;
  color: var(--gray-shade1);
  font-size: 1.3rem;
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: var(--black-shade1);
  margin-left: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project__tech-stack-2 p {
  font-family: var(--font-mono2);
  font-weight: 500;
  color: var(--gray-shade1);
  font-size: 1.3rem;
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: var(--black-shade1);
  margin-right: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-details-tech-icons-1 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.card-details-tech-icons-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.card-details-tech-icons-1 svg {
  margin-left: 1.6rem;
}

.card-details-tech-icons-2 svg {
  margin-right: 1.6rem;
}

.github {
  height: 2rem;
  width: 2rem;
  color: var(--white-shade2);
}

.external-link {
  height: 2.2rem;
  width: 2.2rem;
  color: var(--white-shade2);
}

.github:hover {
  color: var(--gray-shade1);
  cursor: pointer;
}

.external-link:hover {
  color: var(--gray-shade1);
  cursor: pointer;
}

/* media query */
@media only screen and (max-width: 1047px) {
}

@media only screen and (max-width: 768px) {
  .project__card {
    flex-direction: column;
  }

  .project__card:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .project__image-container {
    width: 100%;
  }

  .project__container-1 {
    gap: 1rem;
  }

  .project__container-2 {
    gap: 1rem;
    text-align: right;
  }

  .project__tech-stack-2 {
    justify-content: right;
  }

  .card-details-tech-icons-2 {
    flex-direction: row-reverse;
  }

  .card-details-tech-icons-2 svg {
    /* display: flex;
    flex-direction: row-reverse; */
    margin-right: 0;
    margin-left: 1.6rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --padding-lg: 3.5rem;
  }

  .project__tech-stack-1,
  .project__tech-stack-2 {
    flex-wrap: wrap;
    gap: 0.7rem;
  }

  .project__tech-stack-1 p,
  .project__tech-stack-2 p {
    margin: 0;
    font-size: 1.1rem;
  }
}
