/* || SKILL SECTION */

.skill__inner-container {
  /* width: 80%; */
  /* set max-width to 1084px */
  max-width: min(82%, var(--width-lg));
  margin: auto;
  padding: var(--padding-lg) 0;
  margin-bottom: 2rem;
}

.skill__title {
  color: var(--white-shade2);
}

.skill__logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
  background-color: var(--black-shade2);
  border-radius: 2rem;
  padding: 5rem 0;
  /* justify-content: center;
  align-items: center; */
}

.skill__logo-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.skills-card-name {
  font-family: var(--font-mono2);
  font-size: 1.3rem;
  color: var(--gray-shade1);
}

.dev-icon {
  width: 70px;
  height: 70px;
  stroke: var(--gray-shade1);
}

.icons8 {
  width: 75px;
  height: 75px;
  stroke: var(--gray-shade1);
}

.dev-icon:hover,
.icons8:hover {
  stroke: var(--white-shade2);
}

/* media query */
@media only screen and (max-width: 1047px) {
  .skill__logo-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    row-gap: 5rem;
  }
}

@media only screen and (max-width: 851px) {
  .skill__logo-container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 5rem;
  }
}

@media only screen and (max-width: 527px) {
  .skill__logo-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --padding-lg: 3.5rem;
  }
}
